.social__links__container{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    z-index: 9;
    

}
.btn__container{
    display: flex;
    flex-direction: row;
}
.link__btn{
    border:none;
    cursor: pointer;
    background-color: transparent;
    display: block;
    font-family: 'Rajdhani', sans-serif;
    
}
@media (max-width: 768px) {
    .link__btn{

        color: black;

    }
    
}
/* DARKMODE */

#component-dark{

    color: white;
}