.app__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: max-content;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  align-items: flex-start;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  z-index: 1;
}
.app__container  > * {
  flex: 0 0 auto;
  margin: 10px;
  box-sizing: border-box;
}
.toggle__btn {
  background-color: rgb(53, 52, 52);
  color: white;
  display: none;
  width: 50px;
  height: 50px;
  right: 0;
  margin: 10px;
  position: fixed;
  top: 0;
}
@media (max-width: 768px) {

  .toggle__btn {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 10;
    
  }
}






