.footer__container {
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #F6F6F6;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    bottom:0;
    flex-direction: column;
  }
 ul{
    display: flex;
    list-style: none;
    max-width: fit-content;
 

 }
@media (max-width: 768px) {

    .text{
        display: flex;
        max-width: fit-content;
        padding-right: 0px;
        color: black;
       
     
    }
}

/* DARKMODE */
#component-dark{

    background-color: black;
    color: white;
}