.footer__container{
        bottom: 0;
        position: relative;
        height: 75px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;
     
      }
      
.text{
    text-transform: capitalize;
    display: flex;
}

    p{
        display: inline-block;
    }

.footer__container.hidden{
    display: hidden;
    z-index: -1;
} 
@media (max-width: 768px) {

    .text{
        display: flex;
        max-width: fit-content;
     
    }
    p{
        display: block;
    }
}

