.footer__container {
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #F6F6F6;
    margin: 0;
  }
 ul{
    display: flex;

    list-style: none;
    max-width: fit-content;
 

 }
.text{
    text-transform: capitalize;
    padding-right: 5px;
    text-decoration: none;
    z-index: 2;
    bottom: 0;

}

    p{
        display: inline-block;
        font-size: 12px;
    }
 
@media (max-width: 768px) {

    .text{
        display: flex;
        max-width: fit-content;
        padding-right: 0px;
        color: black;
       
     
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

