.header__container{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100px;
    margin: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.logo{
    /* font-family: 'VT323', monospace; */
    color: black;
    text-decoration: none;
    font-size: 14px;
    position: fixed;
    font-weight: bold;
    z-index: 9999;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.7;
    margin: 40px 35px;

}


.hide-icon {
    display: none;
  }
  @media (max-width: 768px) {

   .header__container{

    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black tint */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    height: 50px;
  }  

  .logo{

    margin: 15px 15px;
  }
 
   }

