.header__container{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 50px;
    margin: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.logo{
    font-family: 'VT323', monospace;
    color: black;
    text-decoration: none;
    font-size: 25px;
    position: fixed;
    font-weight: 400;
    z-index: 9999;
    margin: 14px 35px ;
    text-transform: uppercase;
    letter-spacing: 0px;
    opacity: 60%;

}
.logo:nth-child(2){
    margin: 15px 85px;
    font-weight: bold;
    font-size: 24px;

}
/* span{

    font-weight: 400;
} */

.hide-icon {
    display: none;
  }
  @media (max-width: 768px) {

   .header__container{

    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black tint */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  }  
 
   }

