.navbar__container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: auto;
  padding: 30px;
  list-style: none;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.4, 1.2);
  transform: translateY(0);
  z-index: 20;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #0B0F19;


}

.navbar__link.active {
  color: yellow;
}
/* 
.navbar__container__hidden {
  opacity: 0;
  display: none;
} */


.navbar__link {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  text-transform:uppercase;
  font-size: 14px;
  padding:30px;
  margin-right: 20px;
  width: fit-content;
}

.navbar__link:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .navbar__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    overflow-x: hidden;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    color: #fff;
    padding-top: 70px;
    background-color:#0B0F19;
    height: fit-content;
  }

  .navbar__container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(to top, #0C0F19, transparent);

  }
  /* .navbar__container__hidden {
    transform: translateY(100%);
  } */

  .link__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    opacity: 1;

  }

  .navbar__link {
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: 900;
    opacity: 1;
    text-decoration: none;
  }

  .navbar__link:hover {
    opacity: .8;
  }
}
