.navbar__container {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  padding: 10px;
  list-style: none;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.4, 1.2); /* Update transition timing function */
  transform: translateY(0);
  z-index: 20;
}
.navbar__link.active{

  color: black;
}

.navbar__container__hidden {
  transform: translateY(-100%);
}

.link__wrapper__hidden {
  display: none;
}



.navbar__link {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.4, 1.2); /* Update transition timing function */
  transform: translateX(0);
  display: inline-block;
  text-decoration: none;
  margin-right: 25px;
  text-transform: uppercase;
  width: fit-content;
}

.navbar__link:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .navbar__container {

    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    overflow-x: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    padding: 0;
    background-color: grey;
    padding-left: 40px;
    color: #fff;
    padding-top: 40px;
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.4, 1.2);
  }

  .navbar__container__hidden {
    transform: translateX(-10%);
  }

  .navbar__link {
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 45px;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 900;
  }

  

  .navbar__link:hover {
    color: red;
  }
}
