.toggle__darkmode__btn{

    background-color: black;
    color: black;
    z-index: 9999;
    border-radius: 3px;
    height: 35px;
    width: 50px;
    position: fixed;
    right: 0;
    bottom:135px;
    margin-top: 0;
    margin-right: 50px;
}