/* .burger-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 99999;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 25px;
}

.burger-line {
  width: 50%;
  height: 3px;
  background-color: #EA6E43;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: relative;
  border-radius: 3px;
  align-self: center;
  transform: translateX(0);
}

.burger-linee {
  width: 50%;
  height: 3px;
  background-color: #EA6E43;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: relative;
  align-self: center;
}

.burger-lineee {
  width: 50%;
  height: 3px;
  background-color: #EA6E43;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: relative;
}

.burger-line.open {

}

.burger-linee.open {

}

.burger-lineee.open {

}
 */
