
/* .app__container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  z-index: 1;
  overflow-x: hidden;
} */
/* 
.app__container > * {
  flex: 0 0 auto;
  margin: 10px;
  box-sizing: border-box;
} */

#component-dark{
  background-color: black;
  color: white;
}







