.about__content{

    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 100px;
    padding:45px;
    /* background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #ffffff; */
    height: fit-content;
    font-style: normal;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Rajdhani', sans-serif;
    
}
@media (max-width: 768px) {

    .about__content{

        display:flex;
        margin:10px;
        font-size: 15px;
    }
}